html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: mintcream;
    color: rgb(80, 40, 40);
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
    border-radius: 8px;
}

input {
    color: rgb(95, 111, 82);
    background-color: rgb(254, 250, 224);
    border: 1.5px solid rgb(95, 111, 82);
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

::placeholder {
    color:lightgray;
    opacity: 1; /* Firefox */
  }

button {
    color: #FDFDFD;
    background-color: rgb(185, 148, 112);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

button:hover {
    background-color:rgb(215, 178, 142);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 1.2em;
    background-color: rgb(169, 179, 136);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: rgb(199, 219, 166);
    cursor: pointer;
}